*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    color: rgb(231, 240, 240);
    position: absolute;
    margin-top: 100px;
    padding-bottom: -100px;
    margin-left: 20%;
}

.cajaTexto{
    background-color: rgb(209, 218, 218);
    position: absolute;
    margin-top: -600px;
    margin-left: 20%;
    margin-right: 20%;
    width: 500px;
    height: 90px;
}

.botonCambios{
    position: absolute;
    margin-top: -500px;
    margin-left: 50%;
}